[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "simulator/lv_drivers"]
	path = simulator/lv_drivers
	url = https://github.com/lvgl/lv_drivers.git
